body { 
	background-color: #D9D9D9;
	margin: 100px;
	background-repeat: repeat;
}

img {
	border-width: 7px;
	border-style: solid;
	border-color: #3C6E71;
	border-radius: 50%;
	display: block;
	width: 156px;
	margin: 0 auto;
	opacity: 0.99;

	}

table {
		display: block;
		margin: 0 auto;
		color: #353535;
		border-color: #3C6E71;


}

h1 {
	font-family: "Artegra Sans", sans-serif;
	font-weight: bold;
	font-size: 100px;
	color: #353535;
	letter-spacing: 5px;
	line-height: 20px;
	}

h2 {
	font-family: "Artegra Sans", sans-serif;
	font-weight: bold;
	color: #353535;
}

head, h1, h2, p  {
	text-align: center;}

ul {
	
	list-style-type: circle;	
	color: darkslategrey;
	}

p {
	text-indent: 1px;
	word-spacing: 5px;
	color: black;

}

P::first-line {
	color: navy;
	font-variant: small-caps;
}

h1::first-letter {

	color: #284B63;
	font-size: 150px;
}

h2.intro::first-letter {

	color: orange;
	font-size: 150%;
}

h2::before {

	content: url(lightsaberred.png);
	
}

a:visited {

	color: #3C6E71;
}

a:link {

	text-decoration: none;
 }

h3 {

font-size: 100%;

}
